:root .nav {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
    height: 60px;
    padding: 0 25px;
    margin: 0 auto 0 auto;
   
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;

    /* flex-wrap: wrap; */

}

/* first section */
.first-Container {
    background-color: #FFF4E7;
    max-width: 100%;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10px;
}

.banner {
    width: 90%;
    max-width: 950px;
    padding-left: 50px;
}

.primary-btn {
    border: none;
    border-radius: 8px;
    color: white;
    background: #FF900E 10%;
    width: 180px;
    height: 64px;
    font-size: 20px;
}

/* section-two */
.part-two {
    display: flex;
}

.img {
    /* width: 100%; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    padding-left: 190px;
}

.pic {
    width: 300px;
    height: 250px;
    max-width: 100%;
    gap: 20px;
}

.article-box {
    max-width: 100;
    padding: 100px 0px 0px 120px;
}

.primary-color {
    color:
        gray;
}

.secondery-color {
    color:
        #FF900E;
}

/* third-section */
.third-part {
    display: flex;
    gap: 80px;
    width: 708px;
    height: 600px;
    max-width: 100%;
    margin: 100px 0 0 190px;
}

.title-container {
    flex-wrap: wrap;
    width: 500px;
    max-width: 100%;
    height: 700px;
}

.title {
    border-left: 2px solid;
    border-color: #FF900E;

}

.third-part {
    width: 100%;
    max-width: 100%;
}

.second-pic {

    height: 600px;
    max-width: 100%;
}

.box {
    box-shadow: 5px 10px rgba(241, 240, 255, 0.365);
}

/* forth section */
.button {
    padding-left: 500px;
}

.fifth-part {
    margin-left: 300px;
    margin-top: 120px;
}

/* sixth section */
.sixth-part {
    display: flex;
    width: 1000px;
    max-width: 100%;
    gap: 80px;

    margin-top: 60px;
    margin-left: 70px;
}

.box-container {
    border: 1px solid #FF900E;
    width: 150px;
    height: 130px;
    border-radius: 8px;
    max-width: 100%;
    text-align: center;
    padding-top: 30px;
    margin-left: 50px;
    transition-property: transform;
    transition-timing-function: eas;
    transition-duration: 0.6 s;


}

.box-container:hover {
    transform: translateY(-10px);
    background-color: rgba(255, 172, 127, 0.751);
    color: rgb(240, 141, 128);
}

/* seventh section */
.seventh-part>sponsor-pic {
    display: flex;
    gap: 40px;

}

.sponsor {
    width: 1000px;
    max-width: 100%;
    text-align: center;
    margin-top: 60px;
}

.sponsor-pic {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
    margin-top: 70px;
    padding-left: 80px;

    filter: grayscale(1);

}

/* last section */
.last-part {
    height: 60px;
    width: 800px;
    max-width: 100%;
    padding: 10px 0 0 60px;
    margin: 100px 0 0 190px;
    border-color: #f5f5dc25;
    text-align: center;
    background-color: #FF900E;
    color: white;
}

@media screen and (max-width: 600px) {
    .first-Container {
        width: 605px;

        text-align: left;
    }

    .first-part {}

    .first-part-details {
        padding-left: 15px;
    }


    .banner {
        max-width: 100%;
        margin-left: 10px;
    }

    .part-two {
        flex-direction: column;

    }

    .img {
        height: 30%px;
    }

    .pic {
        width: 0px;
        height: 100px;
        max-width: 100%;

    }

    .article-box {
        max-width: 100;
        padding: 0px;
    }

    .third-part {

        gap: 80px;
        width: 50px;

        max-width: 100%;
        margin: 100px 0 0 20px;
    }

    .second-pic {
        width: 200px;
    }

    .title-container {
        width: 300px;
    }


    .button {
        padding-left: 20px;
    }

    .fifth-part {
        margin-left: 20px;
        margin-top: 50px;
    }

    .sixth-part {
        flex-wrap: wrap;
        gap: 10px;

    }

    .last-part {
        width: 300px;
        max-width: 100%;
        text-align: center;
        margin: 100px 0 0 0px;
        padding: 2px 0 0 60px;
    }

}

.hide {
    display: none;
}